# Introducing Pandas Objects

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])

The Series combines a sequence of values with an explicit sequence of indices, which we can access with the values and index attributes.

In [10]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [12]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
data[1]

0.5

In [14]:
data[0:3]

0    0.25
1    0.50
2    0.75
dtype: float64

the Pandas Series is much more general and flexible than the
one-dimensional NumPy array that it emulates.

In [16]:
data = pd.Series([1.1,4.1,3.1,12.2],index=['a','b','c','d'])

In [17]:
data

a     1.1
b     4.1
c     3.1
d    12.2
dtype: float64

In [18]:
data['a']

1.1

In [22]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                  index=[2, 5, 3, 7])

In [23]:
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

Series as Specialized Dictionary

In [26]:
population_dic = { 'cali':123213,'texas':12312,
                  'florida':12356634,'ny':987654657,
                  'penn':874213
                    }
population = pd.Series(population_dic)
population

cali          123213
texas          12312
florida     12356634
ny         987654657
penn          874213
dtype: int64

In [27]:
population['cali']

123213

In [28]:
# supports array-style operations such as slicing:
population['cali':'ny']

cali          123213
texas          12312
florida     12356634
ny         987654657
dtype: int64

Constructing Series Objects

pd.Series(data, index=index)

In [29]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [30]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [31]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [32]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2])
# index can be explicitly set to control the order or the subset of keys used

1    b
2    a
dtype: object

The Pandas DataFrame Object

In [36]:
area_dict = {'cali': 423967, 'texas': 695662, 'florida': 170312,
                      'ny': 141297, 'penn': 119280}
area = pd.Series(area_dict)
area

cali       423967
texas      695662
florida    170312
ny         141297
penn       119280
dtype: int64

In [37]:
states = pd.DataFrame({'population':population,
                      'area':area})
states

         population    area
cali         123213  423967
texas         12312  695662
florida    12356634  170312
ny        987654657  141297
penn         874213  119280

In [38]:
states.index

Index(['cali', 'texas', 'florida', 'ny', 'penn'], dtype='object')

In [39]:
states.columns

Index(['population', 'area'], dtype='object')

In [40]:
states['area']

cali       423967
texas      695662
florida    170312
ny         141297
penn       119280
Name: area, dtype: int64

A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series:

In [41]:
pd.DataFrame(population,columns=['population'])
population

cali          123213
texas          12312
florida     12356634
ny         987654657
penn          874213
dtype: int64

In [42]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [43]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

if some keys in the dictionary are missing, Pandas will fill them in with NaN values

In [45]:
# From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],index = ['a','b','c'])

        foo       bar
a  0.803719  0.522486
b  0.624410  0.367773
c  0.365304  0.811926

In [49]:
pd.DataFrame(
             columns=['foo', 'bar'],index = ['a','b','c'])

   foo  bar
a  NaN  NaN
b  NaN  NaN
c  NaN  NaN

In [51]:
pd.DataFrame(5,
             columns=['foo', 'bar'],index = ['a','b','c'])

   foo  bar
a    5    5
b    5    5
c    5    5

In [59]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [61]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

The Pandas Index Object

In [62]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [63]:
ind[1]

3

In [64]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [65]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [66]:
# One difference between Index objects and NumPy arrays is that the indices are
# immutable—that is, they cannot be modified via the normal means:
ind[1] = 0

TypeError: Index does not support mutable operations

Index as Ordered Set

In [67]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [68]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [69]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [71]:
indA.symmetric_difference(indB)

Index([1, 2, 9, 11], dtype='int64')